# Datasets e Arquivos Pesados
Dataset_Originals/
Dataset_MachineLearning.zip
Dataset_Originals.zip
# Pesos de Modelos (Não subir para o Git!)
*.pth
*.pkl
Deep_Learning/saved_models/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# VS Code / IDEs
.vscode/
.idea/
*.swp
