# Datasets e Arquivos Pesados
Dataset_Originals/
Dataset_MachineLearning.zip
Dataset_Originals.zip

# MLflow Tracking e Modelos Salvos
mlruns/
Deep_Learning/mlruns/
Machine_Learning/mlruns_ml/
Deep_Learning/saved_models/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# VS Code / IDEs
.vscode/
.idea/
*.swp
